.list-enter {
  transform: translateX(100%);
  opacity: 0;
}
.list-enter-active {
  transform: translateX(0%);
  opacity: 1;
  transition: all 3s;
}

.list-enter-done {
  transform: translateX(0%);
  opacity: 1;
}

.list-exit {
  transform: translateX(0%);
  opacity: 1;
}
.list-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: all 3s;
}
.list-exit-done {
  transform: translateX(100%);
  opacity: 0;
}
li {
  background-color: skyblue;
}