html, body {
  height: 100%;
  font-family: 'Microsoft YaHei'; 
  color: #333;
  background-color: #fff;
  }
  
p {
  margin: 0;
}

* {
  box-sizing: border-box;
    /* 去掉 轮播图 Chrome浏览器的错误警告 */
    touch-action: pan-y;
 }


.tabbar {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.am-tab-bar-tab .iconfont {
  font-size: 20px;
}

.nav {
  padding: 10px 0;
  text-align: center;
}
.am-flexbox-item {
  text-align: center;
}
.nav img{
  width: 48px;
}

.nav p {
  margin-top: 7px;
}